*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: aliceblue;
}
#navbar {
    width: 100%;
    height: 10vh;
    background-image: url(../images/tlo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}
.logo img {
    width: 10vh;
    margin-top: -30px;
}
.signs {
    display: flex;
    gap: 50px;
    font-size: 21px;
}
.signs a {
    text-decoration: none;
    color: aliceblue;
}
.signs li {
    list-style: none;
    margin-top: 30px;
}
.number {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -5px;
}
.number a {
    text-decoration: none;
    color: white;
}
#about {
    width: 100%;
    height: 80vh;
    background-image: url(../images/tlo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.telephone {
    width: 32px;
    height: 32px;
}
.start {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.desc {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
#offer {
    display: flex;
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1100px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.offer_title {
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.offer_text {
    margin-top: 10px;
    color: gray;
    font-size: large;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.container2 select,
input {
    color: gray;
    outline: none;
}
.container3 {
    display: flex;
    gap: 20px;
}
.name,
.Destination,
.Activity,
.Duration,
.date,
.submit {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 255);
    font-size: 17px;
    border-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 5px 10px;
}
option {
    color: black;
    background-color: rgba(242, 242, 242, 255);
}
input {
    outline: none;
    border-color: white;
}
.submit {
    background-color: aqua;
    cursor: pointer;
    color: white;
    font-weight: 700;
}
.submit:hover {
    background-color: rgb(72, 255, 0);
    transition: 0.6s;
}
#gallery {
    width: auto;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
#gallery2 {
    width: 1000px;
    height: 800px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}
.photo1 img {
    width: 900px;
    height: 800px;
    padding: 5px;
    display: block;
}
.photo2 img {
    width: 500px;
    height: 400px;
    padding: 5px;
}
.photo3 img {
    width: 500px;
    height: 400px;
    padding: 5px;
}
.photo4 img {
    width: 500px;
    height: 400px;
    padding: 5px;
}
.photo5 img {
    width: 500px;
    height: 400px;
    padding: 5px;
}
.photo1,
.photo2,
.photo3,
.photo4,
.photo5 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #00000050;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.photo1:hover .overlay {
    bottom: 0;
    height: 800px;
    text-align: center;
}
.photo2:hover .overlay {
    bottom: 0;
    height: 400px;
    text-align: center;
}
.photo3:hover .overlay {
    bottom: 0;
    height: 400px;
    text-align: center;
}
.photo4:hover .overlay {
    bottom: 0;
    height: 400px;
    text-align: center;
}
.photo5:hover .overlay {
    bottom: 0;
    height: 400px;
    text-align: center;
}
#our_top {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsd {
    font-size: 40px;
}
.bsdt {
    font-size: 20px;
    color: grey;
}
.top_desc {
    padding: 15px;
    color: black;
}
.photosp {
    height: 350px;
    width: 300px;
    background-color: grey;
    border-radius: 15px;
}
.photopl {
    height: 450px;
    width: 400px;
    background-color: rgb(126, 122, 122);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.photospsp {
    width: 300px;
    height: 175px;
    border-radius: 10px;
}
.photspdsc h1 {
    text-align: center;
}
.photspdsc p {
    text-indent: 10px;
    text-align: center;
}
.sugoma {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 50px;
}
.sugoma p {
    font-size: 20px;
}
.buttonsus {
    width: 100px;
    border-radius: 15px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
}
.buttonsus:hover {
    background-color: rgb(72, 255, 0);
    transition: 0.6s;
}
.photoplphoto {
    width: 400px;
    height: 225px;
    border-radius: 10px;
}
.photopldsc h1 {
    text-align: center;
}
.photopldsc p {
    text-indent: 10px;
    text-align: center;
}
.amogus {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 50px;
}
.amogus p {
    font-size: 25px;
}
.buttonamg {
    width: 100px;
    border-radius: 15px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
}
.buttonamg:hover {
    background-color: rgb(72, 255, 0);
    transition: 0.6s;
}
#explore {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photoex {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.beachjpg {
    height: 300px;
    width: 450px;
    border-radius: 15px;
}
.photoex2 {
    height: 350px;
    width: 450px;
}
.extext {
    height: 350px;
    width: 700px;
    margin-left: 50px;
    padding: 10px;
}
.extext h1 {
    font-size: 30px;
    color: black;
}
.extext p {
    margin-top: 10px;
    font-size: 20px;
    color: grey;
}
.read_more {
    margin-top: 20px;
    width: 125px;
    height: 50px;
    cursor: pointer;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    color: white;
}
.read_more:hover {
    transition: 0.6s;
    background-color: rgb(72, 255, 0);
}
#our_team {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
}
.team {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.team1 {
    width: 200px;
    height: 300px;
    background-color: aliceblue;
}
.team2 {
    width: 200px;
    height: 300px;
    background-color: aqua;
}
.team3 {
    width: 200px;
    height: 300px;
    background-color: yellow;
}
.team1desc {
    text-align: center;
}
.team1desc h1 {
    color: black;
}
.team2desc {
    text-align: center;
}
.team2desc h1 {
    color: black;
}
.team3desc {
    text-align: center;
}
.team3desc h1 {
    color: black;
}
.bwo {
    width: 200px;
    height: 300px;
}
.bman {
    width: 200px;
    height: 300px;
}
.ceo {
    width: 200px;
    height: 300px;
}
.team1desc,
.team2desc,
.team3desc p {
    color: black;
}
.jklinks,
.hklinks,
.jclinks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#contact_us {
    width: 100%;
    height: 300px;
    background-color: rgb(116, 111, 111);
}
.contactcontainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.contact {
    height: 100px;
    width: 300px;
    text-align: center;
    padding: 20px;
}
.contact a {
    color: white;
    text-decoration: none;
}
.contact p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.contact h1 {
    color: black;
}
.category {
    height: 100px;
    width: 200px;
    text-align: center;
    padding: 20px;
}
.category h1 {
    color: black;
}
.contactimg {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.category_signs {
    list-style: none;
}
.category_signs a {
    text-decoration: none;
    font-size: large;
    color: rgb(255, 255, 255);
}
a:hover {
    transition: 0.4s;
    color: green;
}

.author {
    text-align: center;
    margin-top: 15px;
}
@media (max-width: 1200px) {
    .signs {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 30px;
        margin-top: 1vh;
    }
    .number {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -1vh;
    }
    .logo {
        position: relative;
        display: flex;
        height: 25px;
        width: 25px;
        top: -10px;
        left: -60px;
    }
    #about {
        height: 100%;
        width: auto;
    }
    #offer {
        height: 100%;
        width: 100%;
    }
    .container p {
        font-size: 13px;
    }
    .desc {
        margin-top: 35vh;
        font-weight: 600;
    }
    .start {
        position: relative;
        top: 200px;
        text-align: center;
    }
    .container {
        width: 90%;
        height: auto;
    }
    .offer_title {
        font-size: 30px;
    }
    .offer_text {
        font-size: 20px;
    }
    .photo1 img {
        width: 90%;
    }
    .name,
    .Destination,
    .Activity,
    .Duration,
    .date,
    .submit {
        width: 90%;
        height: 8vh;
    }
    #gallery {
        height: 100%;
    }
    #gallery2 {
        width: 100%;
        height: auto;
    }
    .photo1 img {
        width: 100%;
        height: 100%;
    }
    .photo2 img,
    .photo3 img,
    .photo4 img,
    .photo5 img {
        width: 100%;
        height: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000050;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .text {
        color: white;
        font-size: 15px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .photo1:hover .overlay,
    .photo2:hover .overlay,
    .photo3:hover .overlay,
    .photo4:hover .overlay,
    .photo5:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    #our_top {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .photopl {
        width: 90%;
        height: 100%;
    }
    .photoplphoto {
        width: 100%;
    }
    .photosp {
        width: 90%;
        height: 100%;
    }
    .photospsp {
        width: 100%;
    }
    #explore {
        width: 100%;
        height: 950px;
        display: flex;
        flex-wrap: wrap;
    }
    .photoex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .photoex2 {
        margin-top: 30px;
    }
    .beachjpg {
        width: 100%;
    }
    .extext {
        margin-top: -250px;
    }
    #our_team {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .team {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .contactcontainer {
        width: 100%;
        height: 100%;
    }
    #contact_us {
        width: 100%;
        height: 100%;
    }
    .contactcontainer {
        width: 100%;
        height: 100%;
    }
    .contact {
        width: 100%;
        height: 100%;
    }
}
