*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: aliceblue;
}
#navbar {
    width: 100%;
    height: 80px;
    background-image: url(../images/tlo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}
.logo img {
    width: 100px;
}
.signs {
    display: flex;
    gap: 50px;
    font-size: 21px;
}
.signs li {
    list-style: none;
    margin-top: 30px;
}
.number {
    display: flex;
    align-items: center;
    gap: 20px;
}
#about {
    width: 100%;
    height: 700px;
    background-image: url(../images/tlo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.telephone {
    width: 32px;
    height: 32px;
}
.start {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.desc {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
#offer {
    display: flex;
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1100px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.offer_title {
    color: black;
    /* text-indent: 20px; */
    font-size: 40px;
    font-weight: 800;
}
.offer_text {
    /* text-indent: 20px; */
    margin-top: 10px;
    color: gray;
    font-size: large;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.container2 select,
input {
    color: gray;
    outline: none;
}
.name,
.Destination,
.Activity,
.Duration,
.date,
.submit {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 255);
    font-size: 17px;
    border-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 5px 10px;
}
option {
    color: black;
    background-color: rgba(242, 242, 242, 255);
}
input {
    outline: none;
    border-color: white;
}
.submit {
    background-color: aqua;
    cursor: pointer;
}
.submit:hover {
    background-color: rgb(72, 255, 0);
    transition: 0.6s;
}
#gallery {
    width: auto;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
.photo1 {
    width: 900px;
    height: 800px;
    background-image: url(../images/jp.jpg);
    background-size: cover;
}

#gallery2 {
    width: 1000px;
    height: 800px;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
}
.photo2 {
    width: 500px;
    height: 400px;
    background-image: url(../images/it.jpg);
    background-size: cover;
}
.photo3 {
    width: 500px;
    height: 400px;
    background-image: url(../images/gr.jpg);
    background-size: cover;
}
.photo4 {
    width: 500px;
    height: 400px;
    background-image: url(../images/fr.jpg);
    background-size: cover;
}
.photo5 {
    width: 500px;
    height: 400px;
    background-image: url(../images/usa.jpg);
    background-size: cover;
}
